@model coffeeMVV04.Model.EF.NguoiDung
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<style>
    input {
        width: 100%;
        padding: 10px;
    }

    button {
        margin-top: 10px;
        padding: 5px 20px;
        background-color: forestgreen;
        color: white;
        transition: .2s ease-in-out;
        cursor: pointer;
        border: none;
    }

        button:hover {
            background-color: green;
        }
</style>
@using (Html.BeginForm("Edit", "Sale", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    <div class="details" style="margin:0 auto;width:70%">
        <div class="recentMenu">
            <div class="cardHeader">
                <h2>Sửa thông tin nhân viên</h2>
            </div>
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="InputID"> ID Nhân viên</label>
                @Html.TextBoxFor(a => a.ID, new { @Class = "form-control", @placeHolder = "ID nhân viên" })
                @Html.ValidationMessageFor(a => a.ID, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="InputName"> Tên nhân viên</label>
                @Html.TextBoxFor(a => a.HoTen, new { @Class = "form-control", @placeHolder = "Tên nhân viên" })
                @Html.ValidationMessageFor(a => a.HoTen, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="InputSDT"> Số điện thoại</label>
                @Html.TextBoxFor(a => a.SDT, new { @Class = "form-control", @placeHolder = "Số điện thoại" })
                @Html.ValidationMessageFor(a => a.SDT, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="InputEmail"> Email</label>
                @Html.TextBoxFor(a => a.Email, new { @Class = "form-control", @placeHolder = "Email" })
                @Html.ValidationMessageFor(a => a.Email, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="InputPass"> Mật khẩu</label>
                @Html.TextBoxFor(a => a.Password, new { @Class = "form-control", @placeHolder = "Mật khẩu" })
                @Html.ValidationMessageFor(a => a.Password, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="InputAdress"> Địa chỉ</label>
                @Html.TextBoxFor(a => a.DiaChi, new { @Class = "form-control", @placeHolder = "Địa chi" })
                @Html.ValidationMessageFor(a => a.DiaChi, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Admin</label>
                <label>Yes @Html.RadioButtonFor(a => a.Admin, true)</label>
                <label>No @Html.RadioButtonFor(a => a.Admin, false)</label>
            </div>
        </div>
        <button> Lưa </button>
    </div>
}
}
