@model IEnumerable<coffeeMVV04.Model.EF.NguoiDung>
@*@model coffeeMVV04.Model.EF.NguoiDung*@
@{
    ViewBag.Title = "Index sale";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .search-area {
        width: 100%;
        text-align: center;
    }

    input {
        width: 50%;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        outline: none;
    }

    button {
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        background-color: cornflowerblue;
        cursor: pointer;
    }
</style>
<div class="cardBox">
    <div class="card">
      
        <div>
            <div class="numbers">@ViewBag.Count</div>
            <div class="cardName">số lượng nhân viên</div>
        </div>
        <div class="iconBox">
            <i class="fa-solid fa-users"></i>
        </div>
    </div>
</div>

<div class="details">
    <div class="recentMenu">
        <div class="search-area">
            <input type="text" placeholder="Tìm nhân viên" />
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="cardHeader">
            <h2>Danh sách nhân viên</h2>
        </div>
        <table class="table">
            <tr>
            <tr>
                <tb>STT</tb>
                <td>ID</td>
                <td>Họ tên</td>
                <td>Số điên thoại</td>
                <td>Email</td>
                <td>Mật khẩu</td>
                <td>Địa chỉ</td>
                <td>Admin</td>
            </tr>
            

            @foreach (var item in Model)
            {
                <tr>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Admin)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","Sale",new {id=item.ID })"><i class="fa-solid fa-pen-to-square"></i><span>sửa</span></a>
                        <a href="@Url.Action("Delete","Sale",new {id=item.ID })"><i class="fa-solid fa-trash"></i><span>xóa</span></a>

                    </td>
                </tr>
            }

        </table>
    </div>

</div>

