@model coffeeMVV04.Model.EF.SanPham

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    input {
        width: 100%;
        padding: 10px;
    }

    button {
        margin-top: 10px;
        padding: 5px 20px;
        background-color: forestgreen;
        color: white;
        transition: .2s ease-in-out;
        cursor: pointer;
        border: none;
    }

        button:hover {
            background-color: green;
        }
</style>

@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="details" style="margin:0 auto;width:70%">
        <div class="recentMenu">
            <div class="cardHeader">
                <h2>Thêm Menu mới</h2>
            </div>
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="InputTSP"> Tên nước </label>
                @Html.TextBoxFor(a => a.TenSP, new { @Class = "form-control" })
                @Html.ValidationMessageFor(a => a.TenSP, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(a => a.Avatar, new { @Class = "form-control" })
                <input type="file" name="ImageUpload" id="ImageUpload"/>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IDDanhMuc, "Danh mục", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IDDanhMuc", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDDanhMuc, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="InputMoTa">Mô tả ngắn</label>
                @Html.TextBoxFor(a => a.MoTaNgan, new { @Class = "form-control" })
                @Html.ValidationMessageFor(a => a.MoTaNgan, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="InputGia"> Giá</label>
                @Html.TextBoxFor(a => a.GiaSP, new { @Class = "form-control" })
                @Html.ValidationMessageFor(a => a.GiaSP, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="InputAdress">Giá giảm sản phẩm</label>
                @Html.TextBoxFor(a => a.GiamGiaSP, new { @Class = "form-control" })
                @Html.ValidationMessageFor(a => a.GiamGiaSP, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Tình trạng</label>
                <label>Còn @Html.RadioButtonFor(a => a.TinhTrang, true)</label>
                <label>Hết @Html.RadioButtonFor(a => a.TinhTrang, false)</label>
            </div>
        </div>
        <button> Thêm </button>
    </div>
}