@model IEnumerable<coffeeMVV04.Model.EF.DanhMuc>

@{
    ViewBag.Title = "Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .search-area {
        width: 100%;
        text-align: center;
    }

    input {
        width: 50%;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        outline: none;
    }

    button {
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        background-color: cornflowerblue;
        cursor: pointer;
    }
</style>

<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">@ViewBag.Count</div>
            <div class="cardName">Damh mục tất cả</div>
        </div>
        <div class="iconBox">
            <i class="fa-solid fa-list"></i>
        </div>
    </div>

</div>
<div class="details">
    <div class="recentMenu">
        <div class="cardHeader">
            <h2>Danh mục</h2>
            <a href="@Url.Action("Category","Product")" class="btn">Xem Tất cả</a>
        </div>
        <table>
            <thead>
                <tr>
                    <td>ID danh mục</td>
                    <td>Tên danh mục</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDanhMuc)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit","Product",new {id=item.ID })"><i class="fa-solid fa-pen-to-square"></i><span>sửa</span></a>
                            <a href="@Url.Action("Delete","Product",new {id=item.ID })"><i class="fa-solid fa-trash"></i><span>xóa</span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

