@model coffeeMVV04.Model.EF.DanhMuc
@{
    ViewBag.Title = "Edit product";
}
<style>
    input {
        width: 100%;
        padding: 10px;
    }

    button {
        margin-top: 10px;
        padding: 5px 20px;
        background-color: forestgreen;
        color: white;
        transition: .2s ease-in-out;
        cursor: pointer;
        border: none;
    }

        button:hover {
            background-color: green;
        }
</style>A
        @using (Html.BeginForm())
        {
            Html.AntiForgeryToken();
            <div class="details" style="margin:0 auto;width:70%">
                <div class="recentMenu">
                    <div class="cardHeader">
                        <h2>Sửa danh mục</h2>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <div class="form-group">
                        <label for="InputID"> ID danh mục</label>
                        @Html.TextBoxFor(a => a.ID, new { @Class = "form-control", @placeHolder = "ID Danh mục" })
                        @Html.ValidationMessageFor(a => a.ID, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="InputID"> Tên danh mục</label>
                        @Html.EditorFor(a => a.TenDanhMuc, new { @Class = "form-control", @placeHolder = "Tên danh mục" })
                        @Html.ValidationMessageFor(a => a.TenDanhMuc, null, new { @class = "text-danger" })
                    </div>
                </div>
                <button> Lưa </button>
            </div>
            }
        } 
}
  
    

