@model IEnumerable<coffeeMVV04.Model.EF.SanPham>

@{
    ViewBag.Title = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .search-area {
        width: 100%;
        text-align: center;
    }

    input {
        width: 50%;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        outline: none;
    }

    button {
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        background-color: cornflowerblue;
        cursor: pointer;
    }
</style>

<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">10</div>
            <div class="cardName">Menu nước uống</div>
        </div>
        <div class="iconBox">
            <i class="fa-solid fa-martini-glass-empty"></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">1</div>
            <div class="cardName">đã hết quán</div>
        </div>
        <div class="iconBox">
            <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
        </div>
    </div>
</div>

<div class="details">
    <div class="recentMenu">
        <div class="search-area">
            <input type="text" placeholder="Tìm nước uống" />
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="cardHeader">
            <h2>Danh sách nước uống</h2>
            <a href="#" class="btn">Xem Tất cả</a>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Tên nước uống</td>
                    <td>Avatar</td>
                    <td>Danh mục</td>
                    <td>Mô tả</td>
                    <td>Giá</td>
                    <td>Giảm giá</td>
                    <td>Status</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Avatar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTaNgan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiamGiaSP)
                    </td>
                    @if (item.TinhTrang.ToString() == "True")
                    {
                        <td><span class="status online">còn</span></td>
                    }
                    else
                    {
                        <td><span class="status owe">hết</span></td>
                    }
                    <td>
                        <a href="@Url.Action("EditProduct", "Product", new {id = item.ID})"><i class="fa-solid fa-pen-to-square"></i><span>sửa</span></a>
                        <a href="@Url.Action("DeleteProduct", "Product", new {id = item.ID})"><i class="fa-solid fa-trash"></i><span>xóa</span></a>
                    </td>
                </tr>
}

            </tbody>
        </table>
    </div>
</div>